<section class="ncov-section">
    <div class="post-preview" style="text-align: center;">
        <a id="cdc-ncov" href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
            target="_blank">
            <h2 class="post-title">
                SARS-COV-2 World Health Map
            </h2>
            <h3 class="post-subtitle">
                Stay Strong, Humanity
            </h3>
            <img src="https://www.cdc.gov/coronavirus/2019-ncov/images/outbreak-coronavirus-world.png"
                alt="2019-ncov world health map" width="80%"><br>
            <em id="hopkins">Enter John Hopkins Univ Dashboard</em>
        </a>
        <hr>
    </div>
    <script>
        if (window.innerWidth <= 768) {
            document.getElementById("cdc-ncov").href = "https://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61";
        };
    </script>
    <style>
        #hopkins {
            font-size: 14px;
            color: #a3a3a3;
        }
        #hopkins:hover {
            color: #0085a1;
        }
    </style>
</section>